{% if site.giscus and page.comments != false %}
  <br/><br/><h3>Comments:</h3>
  <script src="https://giscus.app/client.js"
          data-repo="jlandells/jlandells.github.io"
          data-repo-id="R_kgDOKpgh3Q"
          data-category="Announcements"
          data-category-id="DIC_kwDOKpgh3c4C-Z5F"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}